@{
    Layout = null;
}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Party!</title>
    </head>

    <body>
        <div style="text-align: center;">
            <div style="font-size: 30px; margin: 10px;">
               Ven a la cochina fiesta que estamos organizando te va a encantar :)<br />
               <img src="https://weezevent.com/wp-content/uploads/2023/05/12154322/ideas-tema-fiesta.jpg" style="width: 200px;">
            </div>
            <a class="btn btn-primary" asp-action="RsvpForm" style="text-decoration: none; color:yellow; background:black; padding:10px; border-radius:30px;">RSVP boton redireccionador :D</a>
        </div>
    </body>
    </html>
